@page "/"

<h1> @currentTime</h1>
<p> Record: @record</p>

@if (splitsList.Count == 0)
{
    <p><em>No splits</em></p>
}
else
{
    @foreach (var split in splitsList)
    {
        <h4>@split.Name</h4>
        <p>Record: @split.Record</p>
        @if (@split.Time != "")
        {
            <p>@split.Time</p>
        }
        <button class="btn delete split" @onclick="() => deleteSplit(split.Index)">X</button>
        splitIndex++;
    }
}

<button class="btn start" @onclick="startTimer">Start Timer</button>
<button class="btn stop" @onclick="stopTimer">Stop Timer</button>
<button class="btn restart" @onclick="restartTimer">Restart Timer</button>
<button class="btn finish" @onclick="finish">Finish</button>
<button class="btn reset" @onclick="resetRecord">Reset Record</button>

<button class="btn add split" @onclick="addSplit">Add New Split</button>
<button class="btn split timer" @onclick="splitTimer">Split Timer</button>

@code {
    private Stopwatch stopwatch = new Stopwatch();
    private string currentTime = "00:00:00:000";
    private string record = Preferences.Default.Get<string>("record1", "None");
    private System.Timers.Timer aTimer = new System.Timers.Timer(10);


    private List<Split> splitsList = loadDatabase();
    private int splitIndex;
    private int nextSplit = 0;

    private void startTimer()
    {
        aTimer.Elapsed += new System.Timers.ElapsedEventHandler(timerElapsed);
        aTimer.AutoReset = true;
        aTimer.Enabled = true;

        stopwatch.Start();
    }

    private async void timerElapsed(Object? source, System.Timers.ElapsedEventArgs e)
    {
        currentTime = stopwatch.Elapsed.ToString(@"hh\:mm\:ss\.fff");
        await InvokeAsync(StateHasChanged);
    }

    private void stopTimer()
    {
        stopwatch.Stop();
    }

    private void restartTimer()
    {
        stopwatch.Reset();
        currentTime = "00:00:00:000";
        nextSplit = 0;
        for (int i = 0; i < splitsList.Count; i++)
        {
            splitsList[i].Time = "";
        }
    }

    private void finish()
    {
        if (record == "None" || TimeSpan.ParseExact(currentTime, "hh\\:mm\\:ss\\.fff", System.Globalization.CultureInfo.InvariantCulture) < TimeSpan.ParseExact(record, "hh\\:mm\\:ss\\.fff", System.Globalization.CultureInfo.InvariantCulture))
        {
            record = currentTime;
            Preferences.Default.Set("record1", record);
        }
        restartTimer();
    }

    private void resetRecord()
    {
        record = "None";
        Preferences.Default.Set("record1", record);
    }

    private async void addSplit()
    {
        string name = await App.Current.MainPage.DisplayPromptAsync("New Split", "Enter name:");

        if (name!= null)
        {
            if (string.IsNullOrWhiteSpace(name))
            {
                name = "New Split";
            }
            Split split = new Split
                {
                    Index = splitsList.Count,
                    Time = "",
                    Record = "None",
                    Name = name
                };

            splitsList.Add(split);
            saveDatabase(split);
            await InvokeAsync(StateHasChanged);
        }   
    }

    private void splitTimer()
    {
        if (nextSplit < splitsList.Count)
        {
            string time = stopwatch.Elapsed.ToString(@"hh\:mm\:ss\.fff");
            splitsList[nextSplit].Time = time;        

            if (splitsList[nextSplit].Record == "None" || TimeSpan.ParseExact(time, "hh\\:mm\\:ss\\.fff", System.Globalization.CultureInfo.InvariantCulture) < TimeSpan.ParseExact(splitsList[nextSplit].Record, "hh\\:mm\\:ss\\.fff", System.Globalization.CultureInfo.InvariantCulture))
            {
                splitsList[nextSplit].Record = time;
            }

            nextSplit++;
        }
    }

    private void deleteSplit(int index)
    {
        splitsList.RemoveAt(index);
        deleteDatabase();
        for (int i = 0; i < splitsList.Count; i++)
        {
            splitsList[i].Index = i;
            saveDatabase(splitsList[i]);
        }
    }

    [Table("split")]
    public class Split
    {
        [PrimaryKey]
        [Column("index")]
        public int Index { get; set; }

        [Column("time")]
        public string? Time { get; set; }

        [Column("record")]
        public string? Record { get; set; }

        [Column("name")]
        public string? Name { get; set; }
    }

    private void saveDatabase(Split split)
    {
        App.SplitDatabase.Add(split);
    }

    private static List<Split> loadDatabase()
    {
        return App.SplitDatabase.GetSplits();
    }

    private void deleteDatabase()
    {
        App.SplitDatabase.Delete();

    }
}